@import "nav.css";
@import "footer.css";

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #eee;
}

/* Content Container */
.main-blog-container {
    display: grid;
    grid-template-columns: .4fr 2fr .6fr .6fr;
    grid-template-areas:
    "l-side main aboutme r-side"
    "l-side main open r-side"
    "footer footer footer footer";
    grid-gap: 1.5rem;
}

.main-content-card {
    grid-area: main;
    padding-top: 8px;
    background-color: #fff;
    margin-top: 10px;
    padding:10px;
    box-shadow: 0 0 20px -10px;
}

#main-img {
    width: 100%;
}

.main-blog1-details {
    font-size: .8rem;
}

.main-blog1-details p {
    line-height: 2rem;
    font-size: 1rem;
    color: black;
}

#blog1-title {
    font-size: 1.8rem;
}

#blog1-author {
    margin-top: 10px;
    font-size: 1.4rem;
    color: black;
    font-style: italic;
}

#linebreak {
    width: 100%;
}

#published {
    font-size: 1rem;
    padding-bottom: 6px;
}

.quote {
    width: 80%;
    margin: auto;
    line-height: 2.2rem;
    font-size: 1.2rem;
    font-style: italic;
    padding: 6px 0px 6px 0px;
}

/* Aside About Me */
.about-me-container {
    grid-area: aboutme;
    width:300px;
    margin:auto;
}

.about-me-card {
    width:300px;
    background:#fff;
    text-align:center;
    margin:10px;
    box-shadow: 0 0 20px -10px;
}

.about-me-desc {
    text-align: center;
    line-height: 1.2rem;
    padding: 12px;
    color: black;
}

.about-me-card p {
    color: black;
}

#about-me-img {
    width: 100%;
}

#about-me-name {
    text-transform: uppercase;
    color: red;
    padding: 10px;
}

/* Socials */
.socials {
    padding-top: 4px 0px 4px 0px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    cursor: pointer;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}

.fa-instagram {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}

.fa-twitter {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}

.fa-linkedin {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}


/* Media Query*/
@media only screen and (max-width:600px) {
    .main-blog-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .4fr .4fr;
        grid-template-areas: 
        "main"
        "aboutme"
        "footer";
        grid-gap: 16px;
    }

    #blog-title {
        font-size: 1.4rem;
    }
    
    #blog1-author {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    
    #published {
        font-size: .8rem;
        padding-bottom: 6px;
    }
    

    .nav-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr;
        grid-template-areas:
        "logo"
        "list";
    }
    
    .nav-list {
        grid-area: list;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        margin: .5rem 0rem .5rem 0rem;
        width: 100%;
    }

    #logo {
        justify-self: center;
    }

    #main-content {
        padding: 0px 6px 6px 6px;
        margin: 10px;
    }

    #main-img {
        width: 100%;
        height: 300px;
    }
    
    #blog-title {
        font-size: 1.4rem;
    }
    
    #blog1-author {
        font-size: 1rem;
    }

    .main-blog1-details {
        font-size: .6rem;
    }
    
    .main-blog1-details p {
        line-height: 1.6rem;
        font-size: .9rem;
    }
    
    .quote {
        width: 80%;
        margin: auto;
        line-height: 1.8rem;
        font-size: 1rem;
        font-style: italic;
        padding: 6px 0px 6px 0px;
    }

    .about-me > *{
        text-align: center;
        line-height: 1.2rem;
    }
    
    .about-me img {
        width: 100%;
        height: 100vh;
    }

    .footer-container {
        grid-template-areas:
        "footer footer footer footer footer";
        grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
        padding:0px 10px;
    }

    .about-footer {
        grid-area: footer;
        padding-top: 12px;
        color: white;
    }
    
    .about-footer p {
        font-size: .6rem;
    }

    .about-footer hr {
        margin-top:10px;
    }

    .socials {
        padding: 12px 0px 12px 0px;
    }

    .fa {
        padding: 4px;
        font-size: 16px;
        width: 14px;
        text-align: center;
        text-decoration: none;
        margin: 0px 2px;
        cursor: pointer;
      }
}

@media only screen and (min-width:600px) and (max-width:1000px) {

    .main-blog-container {
        grid-template-columns: 1fr .3fr;
        grid-template-rows: 1fr .4fr;
        grid-template-areas: 
        "main aboutme"
        "footer footer";
        grid-gap: 2px;
    }

    .main-content-card {
        padding: 10px;
        margin: 10px 0px 10px 12px;
    }

    .about-me-container {
        margin: 4px;
        padding: 0px 4px;
    }

    .about-me-card {
        width:275px;
        margin: 8px;
    }

    .about-me-card > *{
        font-size: 12px;
        color: black;
    }

    #blog1-author {
        font-size: 1rem;
    }

    #published {
        font-size: .8rem;
    }

    .main-blog1-details {
        font-size: .6rem;
    }
    
    .main-blog1-details p {
        line-height: 1.6rem;
        font-size: .9rem;
    }
    
    .quote {
        width: 80%;
        margin: auto;
        line-height: 1.8rem;
        font-size: 1rem;
        font-style: italic;
        padding: 6px 0px 6px 0px;
    }

    .about-me-desc {
        text-align: center;
        line-height: 1.2rem;
        font-size: .8rem;
        padding: 12px;
        color: black;
    }

    .socials {
        padding-top: 6px;
    }

    .nav-container {
        display: flex;
    }

    #logo {
        width: 100%;
        padding: 0px 0px 0px 10px;
    }
}
