*{
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #eee;
    line-height: 1.4;
}

.btn {
    background-color: black;
    color: white;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

/* Navigation */
.current {
    font-weight: bold;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #555;
}

.logo {
    margin-right: auto;
    text-transform: uppercase;
    color: black;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    padding: 30px 10%;
}

.main-nav {
    width: 100%;
    height: 100px;
    background-color: white;
}

.nav-list li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    margin-top: 10px;
}

.nav-list a {
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-list a:hover {
    opacity: 0.7;
}

.blogs-content-wrapper {
    margin: 8px auto;
    padding-top: 10px;
    width: 1200px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "main-content-1 side-img-1"
        "main-content-2 side-img-2"
        "main-content-3 side-img-3"
        "main-content-4 side-img-4";
}

/* Blogs.html Main Content wrapper*/
.main-content p {
    font-size: 1.2rem;
}

.main-content .btn {
    display:inline-block;
    margin-top: 60px;
}

/* Individual blog page wrapper (blog1.html)*/
.landing-page-blog-wrapper {
    margin: 8px auto;
    width: 1200px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "main-content main-content side";
}

.landing-page-blog-wrapper .side {
    grid-area: side;
    min-height: 200px;
    max-width: 200px;
}

.landing-page-blog-wrapper .main-content {
    grid-area: main-content;
}

.landing-page-blog-wrapper hr {
    margin: 10px 0px;
}

/* Blogs.html side images*/
.side-img-1 {
    grid-area: side-img-1;
    min-height: 200px;
    width: 300px;
    background: url(../img/pexels-kaboompics-com-5836.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    box-shadow: 0 0 20px -10px;
}

.side-img-2 {
    grid-area: side-img-2;
    min-height: 200px;
    width: 300px;
    background: url(../img/pexels-zaksheuskaya-1616403.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    box-shadow: 0 0 20px -10px;
}

.side-img-3 {
    grid-area: side-img-3;
    min-height: 200px;
    width: 300px;
    background: url(../img/pexels-anni-roenkae-2457317.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    box-shadow: 0 0 20px -10px;
}

.side-img-4 {
    grid-area: side-img-4;
    min-height: 200px;
    width: 300px;
    background: url(../img/pexels-santiago-pagnotta-1702624.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    box-shadow: 0 0 20px -10px;
}

.side-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}

.side-content p {
    width: 750px;
    line-height: 1.5rem;
}

.side-content .btn {
    margin-top: 60px;
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

hr {
    width: 750px;
    color: white;
}
.side-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.blog-details {
    font-size: .9rem;
}

.blog-details p {
    line-height: 2.2rem;
    font-size: 1.2rem;
}

.blog-title {
    font-size: 2rem;
}

.blog-author {
    font-style: italic;
}

.linebreak {
    width: 100%;
}

.quote {
    width: 80%;
    margin: auto;
    line-height: 2.2rem;
    font-size: 1.2rem;
}

/* Footer */
.footer {
    width: 100%;
    background-color: black;
    grid-area: footer;
    color: white;
    padding: 12px;
    margin-top: 1.2rem;
}

.footer-wrapper {
    margin: 0 auto;
    width: 1200px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    cursor: pointer;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}

.fa-instagram {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}

.fa-twitter {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}

.fa-youtube {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}

.fa-linkedin {
    background: #cb2027;
    color: white;
    border-radius: 30px;
}

.socials {
    padding-bottom: 10px;
}

/* Form */
.form {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
}

.form label {
    padding-top: 10ex;
}

input[type=button] {
    background-color: #ff6666;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

input[type=button]:hover {
    opacity: 0.7;
}